
body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 8, 51, 0.8), rgba(0, 8, 51, 0.8)), url(art2/Gemini_Generated_Image_5n9nds5n9nds5n9n.jpg);
  background-size: cover;
}

h1.title1 {
  display: inline-block;
  color: rgb(255, 255, 0);
  font-size: 45px;
  letter-spacing: 1px;
  background: rgba(57, 1, 59, 0.404);
  border: none;
  border-radius: 50%;
  box-shadow: 10px 10px 10px black;
}

p.para1, p.para2 {
  color: snow;
  font-size: 20px;
  letter-spacing: 0.5px;
  box-shadow: 10px 10px 10px black;
  box-sizing: content-box 1px black;
  display: inline-block;
  border-radius: 60px 80px;
  background: rgba(57, 1, 59, 0.404);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-stroke: black 0.3px;
  text-shadow: black 100%;
}


div.Header1{
  display: block;
  text-align: center;
}
div.Header2 {
  display: block;
text-align: center;
}
h2.title2 {
  display: inline-block;
  font-size: 30px;
  color: rgb(163, 192, 0);
  background: rgba(7, 1, 26, 0.3);
  border: none;
  border-radius: 50%;
  box-shadow: 10px 10px 10px black;
}

div.MyShorts {
  display: inline-block;
  margin: 2px;
  box-shadow: 10px 10px 10px black;
 
  div.CodingShort1 {
  text-align: center;
  margin: 0;
  margin-left: 18px;
  }
  div.CodingShort2 {
    text-align: center;
    margin: 0;
  }
  div.CodingShort3 {
    text-align: center;
    margin: 0;
  }
  div.CodingShort4 {
    text-align: center;
    margin: 0;
  }

}

@Media screen and (max-width: 1100px) {
  div.MyShorts {
    display: block;
    background: transparent;
    text-align: center;
    div.CodingShort1 {
      margin-right: 15px;
    }
  }
}
p.bottom_buttons {
  text-align: center;
}

div.LINK-buttons {
text-align: center;

}

.GitHub {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient(green, black); 
  color: snow;
  font-size: 20px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s, padding 1s;
}
.GitHub:hover {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
background:linear-gradient(black, green);
color: yellow;
}
.GitHub:active {
  opacity: 0.5;
}

.ContactMe {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient(red , black);
  color: snow;
  font-size: 20px;
  margin-top: 10px;
  transition: 0.3s, padding 1s;
}
.ContactMe:hover {
  background: linear-gradient(black,red);
  color: yellow;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.ContactMe:active {
  opacity: 0.5;
}

.Reddit {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient( orangered, black); 
  color: snow; 
  font-size: 20px;
  transition: padding 1s;
}
.Reddit:hover {
  color: yellow;
  background: linear-gradient( black, orangered); 
  padding-left: 30px;
  padding-right: 30px;
}

.CodeCademy {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient( rgb(180, 0, 135), black); 
  color: snow; 
  font-size: 20px;
  transition: padding 1s;
}
.CodeCademy:hover {
  color: yellow;
  background: linear-gradient( black, rgb(180, 0, 135)); 
  padding-left: 30px;
  padding-right: 30px;
}

.FreeCodeCamp {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient( rgb(0, 159, 180), black); 
  color: snow; 
  font-size: 20px;
  transition: padding 1s;
}
.FreeCodeCamp:hover {
  color: yellow;
  background: linear-gradient( black, rgb(0, 159, 180)); 
  padding-left: 30px;
  padding-right: 30px;
}

.W3Schools {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient( rgb(0, 180, 90), black); 
  color: snow; 
  font-size: 20px;
  transition: padding 1s;
}
.W3Schools:hover {
  color: yellow;
  background: linear-gradient( black, rgb(0, 180, 90)); 
  padding-left: 30px;
  padding-right: 30px;
}
.MeritAmerica {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient( rgb(117, 180, 0), black); 
  color: snow; 
  font-size: 20px;
  transition: padding 1s;
}
.MeritAmerica:hover {
  color: yellow;
  background: linear-gradient( black, rgb(117, 180, 0)); 
  padding-left: 30px;
  padding-right: 30px;
}
.SoloLearn {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  background: linear-gradient( rgb(180, 0, 54), black); 
  color: snow; 
  font-size: 20px;
  transition: padding 1s;
}
.SoloLearn:hover {
  color: yellow;
  background: linear-gradient( black, rgb(180, 0, 54));
  padding-left: 30px;
  padding-right: 30px;
}





a.link {color: snow;}
a.link:hover {cursor: pointer; color: yellow;}
